[class*="Shop"] [class*="shopCard"]:has([aria-label="Close"]) [type="button"]:not([aria-label="Close"]) {
    background-image: linear-gradient(90deg, rgb(5, 129, 75), rgb(5, 129, 75));
    border-radius: 10px;
    color: white;
}
[class*="Shop"] [class*="shopCard"]:has([aria-label="Close"]) [class*="cardBackground"] {
    opacity: 0.9;
}

/*Retro*/
[class*="categoryWrapper"]:has([id*="shop-item-1237649939027333232"]) [id*="shop-item"] {
	background-image: linear-gradient(rgb(223, 96, 255), rgb(128, 88, 253));
}
[class*="categoryWrapper"]:has([id*="shop-item-1237649939027333232"]) [type="button"]:not([aria-label="Close"]) {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}
[class*="categoryWrapper"]:has([id*="shop-item-1237649939027333232"]) [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1237937648727756883.png"]) [class*="collectibleInfo"] {
	background-image: linear-gradient(rgb(223, 96, 255), rgb(128, 88, 253));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1237937648727756883.png"]) [class*="collectibleInfo"] [type="button"] {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1237937648727756883.png"]) [class*="collectibleInfo"] [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}

/*Prates*/
[class*="categoryWrapper"]:has([id*="shop-item-1237653964582031400"]) [id*="shop-item"] {
	background-image: linear-gradient(rgb(42, 28, 25), rgb(123, 50, 28));
}
[class*="categoryWrapper"]:has([id*="shop-item-1237653964582031400"]) [type="button"]:not([aria-label="Close"]) {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}
[class*="categoryWrapper"]:has([id*="shop-item-1237653964582031400"]) [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1237937696991740044.png"]) [class*="collectibleInfo"] {
	background-image: linear-gradient(rgb(42, 28, 25), rgb(123, 50, 28));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1237937696991740044.png"]) [class*="collectibleInfo"] [type="button"] {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1237937696991740044.png"]) [class*="collectibleInfo"] [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}


/*Galaxy*/
[class*="categoryWrapper"]:has([id*="shop-item-1232070870093008937"]) [id*="shop-item"] {
	background-image: linear-gradient(rgb(16, 17, 19), rgb(16, 17, 19));
}
[class*="categoryWrapper"]:has([id*="shop-item-1232070870093008937"]) [type="button"]:not([aria-label="Close"]) {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}
[class*="categoryWrapper"]:has([id*="shop-item-1232070870093008937"]) [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1232037193464418374.png"]) [class*="collectibleInfo"] {
	background-image: linear-gradient(rgb(16, 17, 19), rgb(16, 17, 19));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1232037193464418374.png"]) [class*="collectibleInfo"] [type="button"] {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1232037193464418374.png"]) [class*="collectibleInfo"] [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}


/*Lofi*/
[class*="categoryWrapper"]:has([id*="shop-item-1228246010116050965"]) [id*="shop-item"] {
	background-image: linear-gradient(rgb(97, 92, 255), rgb(223, 129, 184));
}
[class*="categoryWrapper"]:has([id*="shop-item-1228246010116050965"]) [type="button"]:not([aria-label="Close"]) {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}
[class*="categoryWrapper"]:has([id*="shop-item-1228246010116050965"]) [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1228245117085679668.png"]) [class*="collectibleInfo"] {
	background-image: linear-gradient(rgb(97, 92, 255), rgb(223, 129, 184));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1228245117085679668.png"]) [class*="collectibleInfo"] [type="button"] {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1228245117085679668.png"]) [class*="collectibleInfo"] [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(89, 102, 243), rgb(89, 102, 243));
}

/*Volorant*/
[class*="categoryWrapper"]:has([id*="shop-item-1220513975494512780"]) [id*="shop-item"] {
	background-image: linear-gradient(rgb(84, 33, 44), rgb(15, 26, 36));
}
[class*="categoryWrapper"]:has([id*="shop-item-1220513975494512780"]) [type="button"]:not([aria-label="Close"]) {
	background-image: linear-gradient(90deg, rgb(255, 71, 87), rgb(255, 71, 87));
}
[class*="categoryWrapper"]:has([id*="shop-item-1220513975494512780"]) [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(255, 71, 87), rgb(255, 71, 87));
}

/*Springtoons*/
[class*="categoryWrapper"]:has([id*="shop-item-1217624148080332820"]) [id*="shop-item"] {
	background-image: linear-gradient(rgb(255, 255, 255), rgb(113, 191, 254));
}
[class*="categoryWrapper"]:has([id*="shop-item-1217624148080332820"]) [type="button"]:not([aria-label="Close"]) {
	background-image: linear-gradient(90deg, rgb(237, 213, 80), rgb(251, 127, 50));
	color: black;
}
[class*="categoryWrapper"]:has([id*="shop-item-1217624148080332820"]) [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(251, 127, 50), rgb(251, 127, 50));
	color: black;
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1217623684777381908.png"]) [class*="collectibleInfo"] {
	background-image: linear-gradient(rgb(255, 255, 255), rgb(113, 191, 254));
	color: black;
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1217623684777381908.png"]) [class*="collectibleInfo"] [type="button"] {
	background-image: linear-gradient(90deg, rgb(237, 213, 80), rgb(251, 127, 50));
	color: black;
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1217623684777381908.png"]) [class*="collectibleInfo"] [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(251, 127, 50), rgb(251, 127, 50));
	color: black;
}

/*AnimeV2*/
[class*="categoryWrapper"]:has([id*="shop-item-1212569433839636530"]) [id*="shop-item"] {
	background-image: linear-gradient(rgb(173, 255, 254), rgb(2, 61, 116));
}
[class*="categoryWrapper"]:has([id*="shop-item-1212569433839636530"]) [type="button"]:not([aria-label="Close"]) {
	background-image: linear-gradient(90deg, rgb(66, 183, 255), rgb(121, 93, 223));
	color: black;
}
[class*="categoryWrapper"]:has([id*="shop-item-1212569433839636530"]) [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(121, 93, 223), rgb(121, 93, 223));
	color: black;
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1212565210682884167.png"]) [class*="collectibleInfo"] {
	background-image: linear-gradient(rgb(173, 255, 254), rgb(2, 61, 116));
	color: black;
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1212565210682884167.png"]) [class*="collectibleInfo"] [type="button"] {
	background-image: linear-gradient(90deg, rgb(66, 183, 255), rgb(121, 93, 223));
	color: black;
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1212565210682884167.png"]) [class*="collectibleInfo"] [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(121, 93, 223), rgb(121, 93, 223));
	color: black;
}

/*Elements*/
[class*="categoryWrapper"]:has([id*="shop-item-1207047014769234001"]) [id*="shop-item"] {
	background-image: linear-gradient(rgb(27, 27, 161), rgb(0, 22, 41));
}
[class*="categoryWrapper"]:has([id*="shop-item-1207047014769234001"]) [type="button"]:not([aria-label="Close"]) {
	background-image: linear-gradient(90deg, rgb(235, 190, 25), rgb(242, 135, 13));
	color: black;
}
[class*="categoryWrapper"]:has([id*="shop-item-1207047014769234001"]) [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(242, 135, 13), rgb(242, 135, 13));
	color: black;
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1207046939544129577.png"]) [class*="collectibleInfo"] {
	background-image: linear-gradient(rgb(27, 27, 161), rgb(0, 22, 41));
	color: black;
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1207046939544129577.png"]) [class*="collectibleInfo"] [type="button"] {
	background-image: linear-gradient(90deg, rgb(235, 190, 25), rgb(242, 135, 13));
	color: black;
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1207046939544129577.png"]) [class*="collectibleInfo"] [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(242, 135, 13), rgb(242, 135, 13));
	color: black;
}

/*Cyberpunk*/
[class*="categoryWrapper"]:has([id*="shop-item-1197344326133502032"]) [id*="shop-item"] {
	background-image: linear-gradient(rgb(32, 20, 107), rgb(5, 1, 0));
}
[class*="categoryWrapper"]:has([id*="shop-item-1197344326133502032"]) [type="button"]:not([aria-label="Close"]) {
	background-image: linear-gradient(90deg, rgb(75, 68, 218), rgb(54, 54, 181));
}
[class*="categoryWrapper"]:has([id*="shop-item-1197344326133502032"]) [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(54, 54, 181), rgb(54, 54, 181));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1197343875023523930.png"]) [class*="collectibleInfo"] {
	background-image: linear-gradient(rgb(32, 20, 107), rgb(5, 1, 0));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1197343875023523930.png"]) [class*="collectibleInfo"] [type="button"] {
	background-image: linear-gradient(90deg, rgb(75, 68, 218), rgb(54, 54, 181));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1197343875023523930.png"]) [class*="collectibleInfo"] [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(54, 54, 181), rgb(54, 54, 181));
}

/*Fantasy*/
[class*="categoryWrapper"]:has([id*="shop-item-1144003752978829455"]) [id*="shop-item"] {
	background-image: linear-gradient(rgb(20, 97, 68), rgb(2, 24, 13));
}
[class*="categoryWrapper"]:has([id*="shop-item-1144003752978829455"]) [type="button"]:not([aria-label="Close"]) {
	background-image: linear-gradient(90deg, rgb(2, 136, 55), rgb(0, 107, 75));
}
[class*="categoryWrapper"]:has([id*="shop-item-1144003752978829455"]) [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(0, 107, 75), rgb(0, 107, 75));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1149562562103484467.png"]) [class*="collectibleInfo"] {
	background-image: linear-gradient(rgb(20, 97, 68), rgb(2, 24, 13));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1149562562103484467.png"]) [class*="collectibleInfo"] [type="button"] {
	background-image: linear-gradient(90deg, rgb(2, 136, 55), rgb(0, 107, 75));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1149562562103484467.png"]) [class*="collectibleInfo"] [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(0, 107, 75), rgb(0, 107, 75));
}

/*DisXcore*/
[class*="categoryWrapper"]:has([id*="shop-item-1144058522808614923"]) [id*="shop-item"] {
	background-image: linear-gradient(rgb(116, 37, 101), rgb(17, 29, 64));
}
[class*="categoryWrapper"]:has([id*="shop-item-1144058522808614923"]) [type="button"]:not([aria-label="Close"]) {
	background-image: linear-gradient(90deg, rgb(133, 72, 199), rgb(184, 68, 193));
}
[class*="categoryWrapper"]:has([id*="shop-item-1144058522808614923"]) [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(184, 68, 193), rgb(184, 68, 193));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1149562888290320414.png"]) [class*="collectibleInfo"] {
	background-image: linear-gradient(rgb(116, 37, 101), rgb(17, 29, 64));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1149562888290320414.png"]) [class*="collectibleInfo"] [type="button"] {
	background-image: linear-gradient(90deg, rgb(133, 72, 199), rgb(184, 68, 193));
}
[class*="modal"]:has([src*="https://cdn.discordapp.com/app-assets/1096190356233670716/1149562888290320414.png"]) [class*="collectibleInfo"] [type="button"]:has([class*="giftButtonInner"]) {
	background-image: linear-gradient(90deg, rgb(184, 68, 193), rgb(184, 68, 193));
}
